main {
  min-height: 80vh;
  background-color: #fafaf8;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.image-t img {
  width:100%;
  height: 300px;
}

.product {  
  height: 480px;
}

.header {
  background-color: #202020 !important;
}
